%h1= "Week #{@week}"
-@days.each do |day| 
  %h2= "Day #{day}"
  %table.workout{:id => "day_#{day}"}
    %thead
      %tr
        %th.lift{:colspan => 3} Back Squat 
        %th.lift{:colspan => 3} Front Squat 
      %tr
        %th.scheme reps
        %th.scheme %1RM
        %th.scheme Weight 
        %th.scheme reps
        %th.scheme %1RM
        %th.scheme Weight 
    %tbody
      -@workout[day.to_s].each do |set| 
        %tr
          %td= set.first.reps
          %td= 100 * set.first.percentage 
          %td= (set.first.percentage * @bs_1rm).round(2)
          -unless set.last.nil? 
            %td= set.last.reps
            %td= 100 * set.last.percentage 
            %td= (set.last.percentage * @fs_1rm).round(2)
          -else
            %td/
            %td/
            %td/

