%h1= "Week #{@week}"
-@days.each do |day| 
  %h2= "Day #{day}"
  %table.workout{:id => "day_#{day}"}
    %thead
      %tr
        %th.lift{:colspan => 3} Back Squat 
        %th.lift{:colspan => 3} Front Squat 
      %tr
        %th.scheme Reps
        %th.scheme %1RM
        %th.scheme Weight 
        %th.scheme Reps
        %th.scheme %1RM
        %th.scheme Weight 
    %tbody
      -@workout.combined()[day].each do |set| 
        %tr
          %td.entry= set.first.reps
          %td.entry= set.first.percentage 
          %td.entry= set.first.weight.round(2)
          -if set.last.nil? 
            %td/
            %td/
            %td/
          -else
            %td.entry= set.last.reps
            %td.entry= set.last.percentage 
            %td.entry= set.last.weight.round(2)
          
