%h1 CFMG Hatch Program Calculator
= form_tag redir_to_show_path do
  Week: 
  = select_tag :week, options_for_select(('1'..'12').to_a.zip(1..12).to_a, @current_week)
  %br
  Back Squat 1rm: 
  = text_field_tag 'backsquat_1rm', @bs, :size => 4
  %br
  Front Squat 1rm: 
  = text_field_tag 'frontsquat_1rm', @fs, :size => 4
  %br
  = submit_tag 'Calculate'
  = check_box_tag 'keep', 1, @keep
  = 'Save for next time'
%br
=link_to 'About', about_path
%br
Switch layout to: 
=link_to 'Mobile', :action => "set_layout", :mobile => "1" 
=link_to 'Full', :action => "set_layout", :mobile => "0" 
=link_to 'Auto', :action => "set_layout", :mobile => 'auto'
